{% extends 'base2.html.twig' %}

{% trans_default_domain 'messages' %}

{% block title %}Se connecter à {{ parent() }}{% endblock %}

{% block content %}
    <div>
        <h1 class="register">Se connecter</h1>

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'messages', 'fr') }}</div>
        {% endif %}

        {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button type="submit" class="button dark-button">Continuer</button>
        {{ form_end(form) }}

        <a href="inscription" class="no-account-or-already-registered">Pas de compte ? S'inscrire</a>
    </div>
{% endblock %}