{% extends 'base2.html.twig' %}

{% block title %}S'inscrire à {{ parent() }}{% endblock %}

{% block content %}
    <div>
        <h1 class="register">S'inscrire</h1>

        {{ form_start(form) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button type="submit" class="button dark-button">Continuer</button>
        {{ form_end(form) }}

        <a href="connexion" class="no-account-or-already-registered">Vous avez déjà un compte ?</a>
    </div>
{% endblock %}